<html>
<body>
<h2>File and Metadata Integrity Check Report</h2>
<p><strong>Bucket</strong>: {{ bucketId }} ({{ internalBucketId }})</p>
<p><strong>Number of files checked</strong>: {{ numFilesChecked }}</p>
<p><strong>Start date</strong>: {{ startDateTime }}</p>
<p><strong>End date</strong>: {{ endDateTime }}</p>
<p><strong>Duration</strong>: {{ duration }}</p>
<p><strong>Number of files that were not found in the file storage backend</strong>: {{ identifiersNotFound|length }}</p>
<p><strong>Number of files with file content integrity violation</strong>: {{ identifiersWithFileIntegrityViolation|length }}</p>
<p><strong>Number of files with metadata integrity violation</strong>: {{ identifiersWithMetadataIntegrityViolation|length }}</p>
{% if identifiersNotFound is not empty %}
<p><strong>Files that were not found in the file storage backend</strong>:</p>
<p>
    {% for identifier in identifiersNotFound %}
        {{ identifier }}</br>
    {% endfor %}
</p>
{% endif %}
{% if identifiersWithFileIntegrityViolation is not empty %}
<p><strong>Files with file content integrity violation</strong>:</p>
<p>
    {% for identifier in identifiersWithFileIntegrityViolation %}
        {{ identifier }}</br>
    {% endfor %}
</p>
{% endif %}
{% if identifiersWithMetadataIntegrityViolation is not empty %}
<p><strong>Files with metadata integrity violation</strong>:</p>
<p>
    {% for identifier in identifiersWithMetadataIntegrityViolation %}
        {{ identifier }}</br>
    {% endfor %}
</p>
{% endif %}
</body>
</html>