<html>
<body>
<table>
    <tr><th>Weekly reporting of expiring files of bucket {{ bucketName }} ({{ bucketId }})</th></tr>
    <tr><th>file id</th><th>filename</th> <th>prefix</th><th>date created</th><th>last access</th><th>exists until</th></tr>
    {% for file in files %}
        <tr>
            <td>{{ file.id|e }}</td>
            <td>{{ file.fileName|e }}</td>
            <td>{{ file.prefix|e }}</td>
            <td>{{ file.dateCreated|e }}</td>
            <td>{{ file.lastAccess|e }}</td>
            <td>{{ file.existsUnitl|e }}</td>
        </tr>
    {% endfor %}

</table>
</body>
</html>